.vscode/
example/*
example/!*.py
lewansoul-lx16a/lewansoul_lx16a.egg-info/
lewansoul-lx16a-terminal/build/
lewansoul-lx16a-terminal/build/scripts-2.7/lewansoul_lx16a_terminal
lewansoul-lx16a-terminal/dist/
lewansoul-lx16a-terminal/lewansoul_lx16a_terminal.egg-info/

